#aed {
    background: #fff;
    .slider-list {
        height: 83vh !important;
				overflow: auto;
    }
		
		// .slider-slide {
		//     height: 100% !important;
		// }
		
    .aed-list {
        padding: 0rem 0;
        background: #fff;
        ul {
            display: flex;
            justify-content: center;
        }

        li {
            padding: 0 0.05rem;
            list-style: none;
            img {
                width: 17.5vw;
            }
        }
    }
}
